<div class="box-container">
{{#if id}}
<h2>Edit Post</h2>
{{else}}
<h2>Create New Post</h2>
{{/if}}
<form id="create-post" data-postid="{{id}}">
    <section>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" value="{{title}}"/>
    </section>
    <section>
        <label for="post-content">Content</label>
        <textarea id="post-content">{{content}}</textarea>
    </section>

   
{{#if id}}
<button type="submit">Update</button>
<a id="delbtn" href="#" data-postid="{{id}}" >Delete</a>
{{else}}
<button type="submit">Create</button>
{{/if}}

    </div>
</form>


<script src="/js/{{#if id}}update{{else}}create{{/if}}.js"></script>


