<div class="blog-posts">
{{#each posts}}
<article><a href="/post/{{id}}">
    <div class="hd">
        <h3>{{title}}</h3>
        <span>Posted by {{User.username}} on {{date}}</span>
    </div>
    <p>{{content}}</p>
    <span class="cmtcnt">Comments: {{Comments.length}}</span>
</a></article>
{{else}}
<p class="nodata">No blog posting yet! Be the first one!!</p>
{{/each}}
</div>